/* Frame 2147239344 */

position: absolute;
width: 1436px;
height: 913px;
left: calc(50% - 1436px/2);
top: 52px;

background: #FFFFFF;
backdrop-filter: blur(15px);
/* Note: backdrop-filter has minimal browser support */

/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;
z-index: 4;


/* Frame 2147239397 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 0px;
gap: 94px;

position: absolute;
width: 1231px;
height: 416px;
left: 99px;
top: 48.37px;



/* Frame 2147239395 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 43px;

margin: 0 auto;
width: 172px;
height: 416px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Edit & SIgn */

width: 172px;
height: 16px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */
letter-spacing: -0.28px;
text-transform: uppercase;

color: rgba(0, 0, 0, 0.6);


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 2147239389 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 27px;

width: 172px;
height: 357px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 2147239387 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

width: 172px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* editor */

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Clip path group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* clip0_4418_7276 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #000000;


/* Group */

position: absolute;
left: 5.21%;
right: 4.15%;
top: 4.16%;
bottom: 5.21%;



/* Vector */

position: absolute;
left: 5.21%;
right: 5.21%;
top: 5.21%;
bottom: 5.21%;

background: #000000;


/* Vector */

position: absolute;
left: 26.26%;
right: 4.15%;
top: 4.16%;
bottom: 26.29%;

background: #000000;


/* Vector */

position: absolute;
left: 59.01%;
right: 14.18%;
top: 14.1%;
bottom: 59.04%;

background: #000000;


/* PDF Editor */

width: 74px;
height: 21px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* identical to box height */
display: flex;
align-items: center;
letter-spacing: -0.03em;

color: #121212;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 2147239388 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

width: 172px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* convert */

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Clip path group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* clip0_4418_9647 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #000000;


/* Group */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;



/* Vector */

position: absolute;
left: 8.33%;
right: 54.17%;
top: 54.17%;
bottom: 8.33%;

border: 1.125px solid #000000;


/* Vector */

position: absolute;
left: 62.5%;
right: 8.33%;
top: 62.5%;
bottom: 8.33%;

border: 1.125px solid #000000;


/* Vector */

position: absolute;
left: 8.33%;
right: 62.5%;
top: 8.33%;
bottom: 62.5%;

border: 1.125px solid #000000;


/* Vector */

position: absolute;
left: 54.17%;
right: 8.33%;
top: 8.33%;
bottom: 54.17%;

border: 1.125px solid #000000;


/* Compress */

width: 71px;
height: 21px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* identical to box height */
display: flex;
align-items: center;
letter-spacing: -0.03em;

color: #121212;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 2147239389 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

width: 172px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* organize */

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Clip path group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* clip0_4418_9616 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #000000;


/* Group */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

border: 1.125px solid #000000;


/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 41.67%;
bottom: 58.33%;

border: 1.125px solid #000000;


/* Vector */

position: absolute;
left: 50%;
right: 50%;
top: 41.67%;
bottom: 8.33%;

border: 1.125px solid #000000;


/* Organize Pages */

width: 109px;
height: 21px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* identical to box height */
display: flex;
align-items: center;
letter-spacing: -0.03em;

color: #121212;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 2147239390 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

width: 172px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* split */

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Clip path group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* clip0_4418_9552 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #000000;


/* Group */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.34%;
bottom: 8.33%;



/* Vector */

position: absolute;
left: 8.33%;
right: 34.04%;
top: 8.34%;
bottom: 37.5%;

border: 1.125px solid #000000;


/* Vector */

position: absolute;
left: 37.5%;
right: 8.33%;
top: 37.5%;
bottom: 8.33%;

border: 1.125px solid #000000;


/* Split & Extract Pages */

width: 144px;
height: 21px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* identical to box height */
display: flex;
align-items: center;
letter-spacing: -0.03em;

color: #121212;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 2147239391 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

width: 172px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* password */

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Clip path group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* clip0_4418_169831 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #000000;


/* Group */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

border: 1.125px solid #000000;


/* Vector */

position: absolute;
left: 40.09%;
right: 40.08%;
top: 34.15%;
bottom: 34.12%;

border: 1.125px solid #000000;


/* Vector */

position: absolute;
left: 59.8%;
right: 8.33%;
top: 45.45%;
bottom: 54.55%;

border: 1.125px solid #000000;


/* Vector */

position: absolute;
left: 8.33%;
right: 59.79%;
top: 45.45%;
bottom: 54.55%;

border: 1.125px solid #000000;


/* Password Protect */

width: 123px;
height: 21px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* identical to box height */
display: flex;
align-items: center;
letter-spacing: -0.03em;

color: #121212;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 2147239392 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

width: 172px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 5;
align-self: stretch;
flex-grow: 0;


/* unlock */

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Clip path group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* clip0_4418_9530 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #000000;


/* Group */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 41.67%;
bottom: 8.33%;

border: 1.125px solid #000000;


/* Vector */

position: absolute;
left: 25%;
right: 25%;
top: 8.33%;
bottom: 58.33%;

border: 1.125px solid #000000;


/* Vector */

position: absolute;
left: 39.58%;
right: 39.58%;
top: 56.25%;
bottom: 22.92%;

border: 1.125px solid #000000;


/* Unlock PDF */

width: 82px;
height: 21px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* identical to box height */
display: flex;
align-items: center;
letter-spacing: -0.03em;

color: #121212;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 2147239393 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

width: 172px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 6;
align-self: stretch;
flex-grow: 0;


/* rotate */

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 13.88%;
right: 13.87%;
top: 19.38%;
bottom: 8.33%;

border: 1.125px solid #000000;


/* Vector */

position: absolute;
left: 55.16%;
right: 32.79%;
top: 8.33%;
bottom: 77.83%;

border: 1.125px solid #000000;


/* Vector */

position: absolute;
left: 53.17%;
right: 32.79%;
top: 22.17%;
bottom: 67.58%;

border: 1.125px solid #000000;


/* Rotate Pages */

width: 93px;
height: 21px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* identical to box height */
display: flex;
align-items: center;
letter-spacing: -0.03em;

color: #121212;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 2147239394 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

width: 172px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 7;
align-self: stretch;
flex-grow: 0;


/* delete */

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Clip path group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* clip0_4418_9808 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #000000;


/* Group */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 8.33%;
bottom: 8.33%;



/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 22.84%;
bottom: 75.08%;

border: 1.125px solid #000000;


/* Vector */

position: absolute;
left: 35.42%;
right: 35.42%;
top: 8.33%;
bottom: 79.29%;

border: 1.125px solid #000000;


/* Vector */

position: absolute;
left: 21.46%;
right: 21.45%;
top: 38.09%;
bottom: 8.33%;

border: 1.125px solid #000000;


/* Vector */

position: absolute;
left: 43.04%;
right: 43.08%;
top: 68.75%;
bottom: 31.25%;

border: 1.125px solid #000000;


/* Vector */

position: absolute;
left: 39.58%;
right: 39.58%;
top: 52.08%;
bottom: 47.92%;

border: 1.125px solid #000000;


/* Delete Pages */

width: 92px;
height: 21px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* identical to box height */
display: flex;
align-items: center;
letter-spacing: -0.03em;

color: #121212;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 2147239396 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 43px;

margin: 0 auto;
width: 172px;
height: 368px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Convert to PDF */

width: 172px;
height: 16px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */
letter-spacing: -0.28px;
text-transform: uppercase;

color: rgba(0, 0, 0, 0.6);


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 2147239389 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 27px;

width: 172px;
height: 309px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 2147239387 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

width: 172px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* doc-02 */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* elements */

position: absolute;
width: 16.25px;
height: 17.92px;
left: 1.88px;
top: 1.04px;



/* Icon */

position: absolute;
width: 16.25px;
height: 17.92px;
left: 1.88px;
top: 1.04px;

background: #FF5800;


/* Vector */

position: absolute;
left: 26.04%;
right: 9.38%;
top: 55.21%;
bottom: 17.71%;

/* Dark */
background: #141B34;


/* Vector */

position: absolute;
left: 9.38%;
right: 17.71%;
top: 5.21%;
bottom: 5.21%;

/* Dark */
background: #141B34;


/* Word to PDF */

width: 88px;
height: 21px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* identical to box height */
display: flex;
align-items: center;
letter-spacing: -0.03em;

color: #121212;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 2147239388 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

width: 172px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* png-02 */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* elements */

position: absolute;
width: 16.25px;
height: 17.92px;
left: 1.88px;
top: 1.04px;



/* Icon */

position: absolute;
width: 16.25px;
height: 17.92px;
left: 1.88px;
top: 1.04px;

background: #FF5800;


/* Vector */

position: absolute;
left: 26.04%;
right: 9.38%;
top: 55.21%;
bottom: 17.71%;

/* Dark */
background: #141B34;


/* Vector */

position: absolute;
left: 9.38%;
right: 17.71%;
top: 5.21%;
bottom: 5.21%;

/* Dark */
background: #141B34;


/* PNG to PDF */

width: 83px;
height: 21px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* identical to box height */
display: flex;
align-items: center;
letter-spacing: -0.03em;

color: #121212;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 2147239389 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

width: 172px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* jpg-02 */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* elements */

position: absolute;
width: 16.25px;
height: 17.92px;
left: 1.88px;
top: 1.04px;



/* Icon */

position: absolute;
width: 16.25px;
height: 17.92px;
left: 1.88px;
top: 1.04px;

background: #FF5800;


/* Vector */

position: absolute;
left: 26.04%;
right: 9.38%;
top: 55.21%;
bottom: 17.71%;

/* Dark */
background: #141B34;


/* Vector */

position: absolute;
left: 9.38%;
right: 17.71%;
top: 5.21%;
bottom: 5.21%;

/* Dark */
background: #141B34;


/* JPG to PDF */

width: 81px;
height: 21px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* identical to box height */
display: flex;
align-items: center;
letter-spacing: -0.03em;

color: #121212;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 2147239390 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

width: 172px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* xls-02 */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* elements */

position: absolute;
width: 16.25px;
height: 17.92px;
left: 1.88px;
top: 1.04px;



/* Icon */

position: absolute;
width: 16.25px;
height: 17.92px;
left: 1.88px;
top: 1.04px;

background: #FF5800;


/* Vector */

position: absolute;
left: 30.21%;
right: 9.37%;
top: 55.21%;
bottom: 17.71%;

/* Dark */
background: #141B34;


/* Vector */

position: absolute;
left: 9.38%;
right: 17.71%;
top: 5.21%;
bottom: 5.21%;

/* Dark */
background: #141B34;


/* EXCEl to PDF */

width: 93px;
height: 21px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* identical to box height */
display: flex;
align-items: center;
letter-spacing: -0.03em;

color: #121212;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 2147239391 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

width: 172px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* ppt-02 */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* elements */

position: absolute;
width: 16.25px;
height: 17.92px;
left: 1.88px;
top: 1.04px;



/* Icon */

position: absolute;
width: 16.25px;
height: 17.92px;
left: 1.88px;
top: 1.04px;

background: #FF5800;


/* Vector */

position: absolute;
left: 26.04%;
right: 9.38%;
top: 55.21%;
bottom: 17.71%;

/* Dark */
background: #141B34;


/* Vector */

position: absolute;
left: 9.38%;
right: 17.71%;
top: 5.21%;
bottom: 5.21%;

/* Dark */
background: #141B34;


/* POWERPOINT to PDF */

width: 149px;
height: 21px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* identical to box height */
display: flex;
align-items: center;
letter-spacing: -0.03em;

color: #121212;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 2147239392 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

width: 172px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 5;
align-self: stretch;
flex-grow: 0;


/* txt-02 */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* elements */

position: absolute;
width: 16.25px;
height: 17.92px;
left: 1.88px;
top: 1.04px;



/* Icon */

position: absolute;
width: 16.25px;
height: 17.92px;
left: 1.88px;
top: 1.04px;

background: #FF5800;


/* Vector */

position: absolute;
left: 26.04%;
right: 9.38%;
top: 55.21%;
bottom: 17.71%;

/* Dark */
background: #141B34;


/* Vector */

position: absolute;
left: 9.38%;
right: 17.71%;
top: 5.21%;
bottom: 5.21%;

/* Dark */
background: #141B34;


/* TXT to PDF */

width: 81px;
height: 21px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* identical to box height */
display: flex;
align-items: center;
letter-spacing: -0.03em;

color: #121212;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 2147239393 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

width: 172px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 6;
align-self: stretch;
flex-grow: 0;


/* file-paste */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* elements */

position: absolute;
width: 14.58px;
height: 17.92px;
left: 2.71px;
top: 1.04px;



/* Icon */

position: absolute;
width: 14.58px;
height: 17.92px;
left: 2.71px;
top: 1.04px;

background: #FF5800;


/* Vector */

position: absolute;
left: 13.54%;
right: 40.63%;
top: 5.21%;
bottom: 57.29%;

/* Dark */
background: #141B34;


/* Vector */

position: absolute;
left: 13.54%;
right: 13.54%;
top: 5.21%;
bottom: 5.21%;

/* Dark */
background: #141B34;


/* Any format to PDF */

width: 127px;
height: 21px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* identical to box height */
display: flex;
align-items: center;
letter-spacing: -0.03em;

color: #121212;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 2147239398 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 43px;

margin: 0 auto;
width: 172px;
height: 320px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Convert from PDF */

width: 172px;
height: 16px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */
letter-spacing: -0.28px;
text-transform: uppercase;

color: rgba(0, 0, 0, 0.6);


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 2147239389 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 27px;

width: 172px;
height: 261px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 2147239387 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

width: 172px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* pdf-02 */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* elements */

position: absolute;
width: 16.25px;
height: 17.92px;
left: 1.88px;
top: 1.04px;



/* Icon */

position: absolute;
width: 16.25px;
height: 17.92px;
left: 1.88px;
top: 1.04px;

background: #007AFF;


/* Vector */

position: absolute;
left: 26.04%;
right: 9.38%;
top: 55.21%;
bottom: 17.71%;

/* Dark */
background: #141B34;


/* Vector */

position: absolute;
left: 9.38%;
right: 17.71%;
top: 5.21%;
bottom: 5.21%;

/* Dark */
background: #141B34;


/* PDF to WORD */

width: 98px;
height: 21px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* identical to box height */
display: flex;
align-items: center;
letter-spacing: -0.03em;

color: #121212;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 2147239388 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

width: 172px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* png-02 */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* elements */

position: absolute;
width: 16.25px;
height: 17.92px;
left: 1.88px;
top: 1.04px;



/* Icon */

position: absolute;
width: 16.25px;
height: 17.92px;
left: 1.88px;
top: 1.04px;

background: #007AFF;


/* Vector */

position: absolute;
left: 26.04%;
right: 9.38%;
top: 55.21%;
bottom: 17.71%;

/* Dark */
background: #141B34;


/* Vector */

position: absolute;
left: 9.38%;
right: 17.71%;
top: 5.21%;
bottom: 5.21%;

/* Dark */
background: #141B34;


/* PDF to PNG */

width: 83px;
height: 21px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* identical to box height */
display: flex;
align-items: center;
letter-spacing: -0.03em;

color: #121212;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 2147239389 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

width: 172px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* jpg-02 */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* elements */

position: absolute;
width: 16.25px;
height: 17.92px;
left: 1.88px;
top: 1.04px;



/* Icon */

position: absolute;
width: 16.25px;
height: 17.92px;
left: 1.88px;
top: 1.04px;

background: #007AFF;


/* Vector */

position: absolute;
left: 26.04%;
right: 9.38%;
top: 55.21%;
bottom: 17.71%;

/* Dark */
background: #141B34;


/* Vector */

position: absolute;
left: 9.38%;
right: 17.71%;
top: 5.21%;
bottom: 5.21%;

/* Dark */
background: #141B34;


/* PDF to JPG */

width: 81px;
height: 21px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* identical to box height */
display: flex;
align-items: center;
letter-spacing: -0.03em;

color: #121212;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 2147239390 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

width: 172px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* xls-02 */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* elements */

position: absolute;
width: 16.25px;
height: 17.92px;
left: 1.88px;
top: 1.04px;



/* Icon */

position: absolute;
width: 16.25px;
height: 17.92px;
left: 1.88px;
top: 1.04px;

background: #007AFF;


/* Vector */

position: absolute;
left: 30.21%;
right: 9.37%;
top: 55.21%;
bottom: 17.71%;

/* Dark */
background: #141B34;


/* Vector */

position: absolute;
left: 9.38%;
right: 17.71%;
top: 5.21%;
bottom: 5.21%;

/* Dark */
background: #141B34;


/* PDF to EXCEL */

width: 98px;
height: 21px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* identical to box height */
display: flex;
align-items: center;
letter-spacing: -0.03em;

color: #121212;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 2147239391 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

width: 172px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* ppt-02 */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* elements */

position: absolute;
width: 16.25px;
height: 17.92px;
left: 1.88px;
top: 1.04px;



/* Icon */

position: absolute;
width: 16.25px;
height: 17.92px;
left: 1.88px;
top: 1.04px;

background: #007AFF;


/* Vector */

position: absolute;
left: 26.04%;
right: 9.38%;
top: 55.21%;
bottom: 17.71%;

/* Dark */
background: #141B34;


/* Vector */

position: absolute;
left: 9.38%;
right: 17.71%;
top: 5.21%;
bottom: 5.21%;

/* Dark */
background: #141B34;


/* PDF to POWERPOINT */

width: 149px;
height: 21px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* identical to box height */
display: flex;
align-items: center;
letter-spacing: -0.03em;

color: #121212;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 2147239392 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

width: 172px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 5;
align-self: stretch;
flex-grow: 0;


/* file-paste */

width: 20px;
height: 20px;

transform: matrix(-1, 0, 0, 1, 0, 0);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* elements */

position: absolute;
width: 14.58px;
height: 17.92px;
left: 2.71px;
top: 1.04px;

transform: matrix(-1, 0, 0, 1, 0, 0);


/* Icon */

position: absolute;
width: 14.58px;
height: 17.92px;
left: 2.71px;
top: 1.04px;

background: #007AFF;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Vector */

position: absolute;
left: 40.63%;
right: 13.54%;
top: 5.21%;
bottom: 57.29%;

/* Dark */
background: #141B34;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Vector */

position: absolute;
left: 13.54%;
right: 13.54%;
top: 5.21%;
bottom: 5.21%;

/* Dark */
background: #141B34;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* PDF to Any format */

width: 130px;
height: 21px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* identical to box height */
display: flex;
align-items: center;
letter-spacing: -0.03em;

color: #121212;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 2147239399 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 43px;

margin: 0 auto;
width: 172px;
height: 416px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Others */

width: 172px;
height: 16px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */
letter-spacing: -0.28px;
text-transform: uppercase;

color: rgba(0, 0, 0, 0.6);


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 2147239389 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 27px;

width: 172px;
height: 357px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 2147239387 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

width: 172px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame */

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Clip path group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* clip0_4418_7311 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #000000;


/* Group */

position: absolute;
left: 7.29%;
right: 7.29%;
top: 9.4%;
bottom: 9.38%;



/* Vector */

position: absolute;
left: 30.23%;
right: 55.18%;
top: 9.4%;
bottom: 9.38%;

background: #000000;


/* Vector */

position: absolute;
left: 55.23%;
right: 30.18%;
top: 9.4%;
bottom: 9.38%;

background: #000000;


/* Vector */

position: absolute;
left: 11.46%;
right: 7.29%;
top: 34.38%;
bottom: 59.38%;

background: #000000;


/* Vector */

position: absolute;
left: 7.29%;
right: 11.46%;
top: 59.38%;
bottom: 34.38%;

background: #000000;


/* Edit Metadata */

width: 97px;
height: 21px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* identical to box height */
display: flex;
align-items: center;
letter-spacing: -0.03em;

color: #121212;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 2147239388 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

width: 172px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame */

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Clip path group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* clip0_4418_6750 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #000000;


/* Group */

position: absolute;
left: 5.21%;
right: 5.21%;
top: 5.21%;
bottom: 5.21%;



/* Vector */

position: absolute;
left: 26.04%;
right: 51.04%;
top: 21.88%;
bottom: 55.21%;

background: #000000;


/* Vector */

position: absolute;
left: 5.21%;
right: 5.21%;
top: 5.21%;
bottom: 5.21%;

background: #000000;


/* Vector */

position: absolute;
left: 71.88%;
right: 13.55%;
top: 5.23%;
bottom: 63.54%;

background: #000000;


/* Vector */

position: absolute;
left: 63.55%;
right: 21.88%;
top: 5.22%;
bottom: 80.21%;

background: #000000;


/* Vector */

position: absolute;
left: 8.01%;
right: 5.21%;
top: 46.86%;
bottom: 17.92%;

background: #000000;


/* Extract Images */

width: 105px;
height: 21px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* identical to box height */
display: flex;
align-items: center;
letter-spacing: -0.03em;

color: #121212;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 2147239389 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

width: 172px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Frame */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Clip path group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* clip0_4418_7171 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #000000;


/* Group */

position: absolute;
left: 5.21%;
right: 5.21%;
top: 5.21%;
bottom: 5.2%;



/* Vector */

position: absolute;
left: 17.71%;
right: 17.71%;
top: 17.71%;
bottom: 17.7%;

background: #000000;


/* Vector */

position: absolute;
left: 17.71%;
right: 76.04%;
top: 5.21%;
bottom: 76.04%;

background: #000000;


/* Vector */

position: absolute;
left: 5.21%;
right: 76.04%;
top: 17.71%;
bottom: 76.04%;

background: #000000;


/* Vector */

position: absolute;
left: 76.04%;
right: 17.71%;
top: 76.05%;
bottom: 5.2%;

background: #000000;


/* Vector */

position: absolute;
left: 76.04%;
right: 5.21%;
top: 76.05%;
bottom: 17.7%;

background: #000000;


/* Crop */

width: 34px;
height: 21px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* identical to box height */
display: flex;
align-items: center;
letter-spacing: -0.03em;

color: #121212;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 2147239390 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

width: 172px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Frame */

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Clip path group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* clip0_4418_7094 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #000000;


/* Group */

position: absolute;
left: 5.21%;
right: 5.21%;
top: 5.21%;
bottom: 5.21%;



/* Vector */

position: absolute;
left: 5.21%;
right: 59.38%;
top: 5.21%;
bottom: 59.38%;

background: #000000;


/* Vector */

position: absolute;
left: 59.38%;
right: 5.21%;
top: 5.21%;
bottom: 59.38%;

background: #000000;


/* Vector */

position: absolute;
left: 63.54%;
right: 5.21%;
top: 63.54%;
bottom: 5.21%;

background: #000000;


/* Vector */

position: absolute;
left: 5.21%;
right: 59.38%;
top: 59.38%;
bottom: 5.21%;

background: #000000;


/* Vector */

position: absolute;
left: 26.04%;
right: 26.04%;
top: 23.96%;
bottom: 23.96%;

background: #000000;


/* Vector */

position: absolute;
left: 17.71%;
right: 17.71%;
top: 46.88%;
bottom: 46.88%;

background: #000000;


/* OCR */

width: 33px;
height: 21px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* identical to box height */
display: flex;
align-items: center;
letter-spacing: -0.03em;

color: #121212;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 2147239391 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

width: 172px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* Frame */

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Clip path group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* clip0_4418_7123 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #000000;


/* Group */

position: absolute;
left: 5.21%;
right: 5.17%;
top: 5.21%;
bottom: 5.21%;



/* Vector */

position: absolute;
left: 49.29%;
right: 5.17%;
top: 13.51%;
bottom: 40.75%;

background: #000000;


/* Vector */

position: absolute;
left: 13.76%;
right: 19.67%;
top: 41.69%;
bottom: 5.21%;

background: #000000;


/* Vector */

position: absolute;
left: 41.99%;
right: 44.45%;
top: 28.95%;
bottom: 64.33%;

background: #000000;


/* Vector */

position: absolute;
left: 18.89%;
right: 61.64%;
top: 70.21%;
bottom: 10.3%;

background: #000000;


/* Vector */

position: absolute;
left: 5.21%;
right: 51.04%;
top: 5.21%;
bottom: 51.04%;

background: #000000;


/* Vector */

position: absolute;
left: 16.87%;
right: 62.88%;
top: 23.96%;
bottom: 69.79%;

background: #000000;


/* Remove Annotations */

width: 143px;
height: 21px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* identical to box height */
display: flex;
align-items: center;
letter-spacing: -0.03em;

color: #121212;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 2147239392 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

width: 172px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 5;
align-self: stretch;
flex-grow: 0;


/* Frame */

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Clip path group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* clip0_4418_7147 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #000000;


/* Group */

position: absolute;
left: 5.21%;
right: 5.17%;
top: 5.21%;
bottom: 5.21%;



/* Vector */

position: absolute;
left: 19.79%;
right: 36%;
top: 36.05%;
bottom: 19.79%;

background: #000000;


/* Vector */

position: absolute;
left: 36.04%;
right: 19.75%;
top: 19.79%;
bottom: 36.04%;

background: #000000;


/* Vector */

position: absolute;
left: 59.39%;
right: 5.17%;
top: 59.33%;
bottom: 5.21%;

background: #000000;


/* Vector */

position: absolute;
left: 5.21%;
right: 59.39%;
top: 5.21%;
bottom: 59.38%;

background: #000000;


/* Repair PDF */

width: 78px;
height: 21px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* identical to box height */
display: flex;
align-items: center;
letter-spacing: -0.03em;

color: #121212;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 2147239393 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

width: 172px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 6;
align-self: stretch;
flex-grow: 0;


/* Frame */

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Clip path group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* clip0_4418_7035 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #000000;


/* Group */

position: absolute;
left: 5.21%;
right: 5.21%;
top: 5.21%;
bottom: 5.21%;



/* Vector */

position: absolute;
left: 5.21%;
right: 5.21%;
top: 5.21%;
bottom: 5.21%;

background: #000000;


/* Vector */

position: absolute;
left: 26.04%;
right: 26.08%;
top: 7.04%;
bottom: 36.11%;

background: #000000;


/* Vector */

position: absolute;
left: 5.21%;
right: 5.21%;
top: 5.21%;
bottom: 5.21%;

background: #000000;


/* Vector */

position: absolute;
left: 26.04%;
right: 26.08%;
top: 7.04%;
bottom: 36.11%;

background: #000000;


/* Create Bookmarks */

width: 129px;
height: 21px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* identical to box height */
display: flex;
align-items: center;
letter-spacing: -0.03em;

color: #121212;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 2147239394 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

width: 172px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 7;
align-self: stretch;
flex-grow: 0;


/* Frame */

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Clip path group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* clip0_4418_9594 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #000000;


/* Group */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 11.23%;
bottom: 11.07%;



/* Vector */

position: absolute;
left: 14.15%;
right: 15.89%;
top: 11.23%;
bottom: 53.64%;

border: 1.125px solid #000000;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 45.83%;
bottom: 31.91%;

border: 1.125px solid #000000;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 66.67%;
bottom: 11.07%;

border: 1.125px solid #000000;


/* Watermark */

width: 77px;
height: 21px;

font-family: 'Geist';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* identical to box height */
display: flex;
align-items: center;
letter-spacing: -0.03em;

color: #121212;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
