@import "tailwindcss";
@import "@heroui/styles";

:root {
  /* BRAND RED (#DF3A38) */
  --accent: oklch(62.3% 0.203 26.5);
  --accent-foreground: oklch(100% 0 0);

  /* DANGER RED (Darker/Colder for differentiation) */
  --danger: oklch(45% 0.18 25);
  --danger-foreground: oklch(100% 0 0);
}
html,
body {
  min-height: 100%;
}
body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}